@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

body {
	background-image: url('../src/images/dream-house-picture.jpg');
	background-color: olivedrab;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button {
	margin-right: 15px !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1 {
	color: white;
}

h2 {
	color: hsl(190, 54%, 22%);
}

.house-form {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3%;
}

.house-form-box {
	background-color: #9ecfda;
	border: 1px hsl(190, 54%, 22%) dotted;
	width: 75%;
	padding: 3%;
}

label {
	color: hsl(190, 54%, 22%);
	font-weight: bold;
	margin-top: 1.5%;
}

.table-responsive {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3%;
}

.table-div {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px hsl(190, 54%, 22%) dotted;
	background-color: #9ecfda;
	width: 75%;
	padding: 1%;
}

.title {
	color: white;
	text-align: center;
	font-weight: bolder;
}

.top-bar {
	background-color: hsl(190, 54%, 22%);
	height: 10%;
	padding: 2%;
}

td,
th {
	text-align: center;
	color: hsl(190, 54%, 22%);
}

ul,
li {
	list-style-type: none;
}
